.tiptap {
  :first-child {
    margin-top: 0;
  }

  border-radius: calc(var(--spacing) * 3);
  padding: calc(var(--spacing) * 8);
  outline: none;
  background-color: var(--color-bluegray-50);
  min-height: 10rem;
  color: black;

  p {
    margin: 0.5em 0;
    line-height: 1.25;
  }

  /* List styles */
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li {
      margin: 0 0 1rem 0;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
    font-weight: 6 00;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--color-secondary);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background-color: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--color-secondary);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border-top: 1px solid var(--color-border);
    margin: 2rem 0;
  }

  a {
    color: var(--primary);
    text-decoration: underline;
  }

  img {
    /* max-width: 500px; */
    width: 100%;
    height: auto;
    margin: 1em 0;
    border-radius: var(--radius-lg);
  }

  .custom-image {
    transition: opacity 0.2s ease-out;

    .custom-image-loading-spinner {
      aspect-ratio: 16/9;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-bluegray-100);
      border-radius: var(--radius-lg);
      animation: pulse 0.75s linear infinite;
      margin: 1em 0;

      .loading-spinner-icon {
        color: var(--color-bluegray-500);
        animation: spin 0.75s linear infinite;
      }
    }
  }

  /* Image laoded animation */
  .custom-image-loaded {
    animation: image-loaded-fade-in 0.75s ease-out;
  }

  /* Selecting an image */
  img.ProseMirror-selectednode,
  /* Selcting custom image */
  .ProseMirror-selectednode img {
    outline: 4px solid var(--color-primary);
  }

  .tiptap-image-upload {
    --outside-padding: calc(var(--spacing) * 4);
    --outside-border-radius: var(--radius-4xl);
    transition: all 0.2s ease-out;
    background-color: var(--color-bluegray-200);
    padding: var(--outside-padding);
    border-radius: var(--outside-border-radius);
    cursor: pointer;
    margin-bottom: 1rem;

    .ProseMirror-selectednode & {
      outline: 2px solid var(--color-primary);
    }

    &.tiptap-image-upload-error {
      background-color: var(--color-surface-incorrect);

      .tiptap-image-upload-text {
        color: var(--color-text-incorrect);
      }
    }

    &:has(.tiptap-image-upload-dragger-active) {
      padding: calc(var(--outside-padding) - (var(--spacing) * 3));
    }

    .padder {
      input {
        display: none;
      }

      /* While uploading */
      .tiptap-image-upload-preview {
        padding: calc(var(--spacing) * 12);
        border: 1px dashed var(--color-bluegray-400);
        border-radius: calc(var(--outside-border-radius) - var(--outside-padding));
        background-color: var(--color-bg);
        display: flex;
        flex-direction: column;
        align-items: center;

        .tiptap-image-upload-progress {
          width: 100%;
          height: 4px;
          border-radius: 20px;
          background-color: var(--color-bluegray-400);
        }

        .tiptap-image-upload-preview-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          .tiptap-image-upload-file-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(var(--spacing) * 4);

            .tiptap-image-upload-file-icon {
              width: fit-content;
              padding: calc(var(--spacing) * 4);
              background-color: var(--color-bluegray-100);
              border-radius: var(--radius-4xl);
            }

            .tiptap-image-upload-details {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: calc(var(--spacing) * 2);

              .tiptap-image-upload-subtext {
                font-size: 12px;
                color: var(--color-bluegray-500);
              }
            }
          }

          .tiptap-image-upload-actions {
            padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4);
            border-radius: var(--radius-xl);
            background-color: var(--color-bluegray-50);
            margin: calc(var(--spacing) * 4) 0 calc(var(--spacing) * 8) 0;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: var(--spacing);
            color: var(--color-bluegray-600);

            .tiptap-image-upload-progress-text {
              font-size: 14px;
            }
          }
        }
      }

      .tiptap-image-upload-dragger {
        &.tiptap-image-upload-dragger-active {
          padding: calc((var(--spacing) * 12) + (var(--spacing) * 3));
        }

        transition: all 0.2s ease-out;
        border: 1px dashed var(--color-bluegray-400);
        border-radius: calc(var(--outside-border-radius) - var(--outside-padding));
        padding: calc(var(--spacing) * 12);
        background-color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--spacing) * 12);

        .tiptap-image-upload-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: calc(var(--spacing) * 4);

          .tiptap-image-upload-text {
            color: var(--color-text-nontrivial);
            em {
              text-decoration: underline dashed;
            }
          }

          .tiptap-image-upload-subtext {
            color: var(--color-text-trivial);
          }
        }
      }
    }
  }
}

@keyframes image-loaded-fade-in {
  from {
    opacity: 0;
    scale: 0.95;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
