/*
* Uncomment the following line to use the Inter font when not working on a Next.js project.
* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* Then replace var(--font-inter) to Inter
*/

@import 'tailwindcss';
@import 'tw-animate-css';

@plugin 'tailwindcss-react-aria-components';

@theme {
  /* Override default spacing */
  --spacing: 2px;

  --radius: initial;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;

  --color-pumpkin-50: #fffaf8;
  --color-pumpkin-100: #feeadd;
  --color-pumpkin-200: #ffc8ab;
  --color-pumpkin-300: #ffa778;
  --color-pumpkin-400: #ff8645;
  --color-pumpkin-500: #ff6512;
  --color-pumpkin-600: #d94c00;
  --color-pumpkin-700: #a13801;
  --color-pumpkin-800: #692500;
  --color-pumpkin-900: #311100;

  --color-valencia-50: #f9e3e3;
  --color-valencia-100: #f7d5d4;
  --color-valencia-200: #f0b7b7;
  --color-valencia-300: #e99b99;
  --color-valencia-400: #e37d7c;
  --color-valencia-500: #dd5f5e;
  --color-valencia-600: #d74340;
  --color-valencia-700: #b12626;
  --color-valencia-800: #7a1b1a;
  --color-valencia-900: #430e0e;

  --color-bluegray-50: #f8fafc;
  --color-bluegray-100: #f1f5f9;
  --color-bluegray-200: #e2e8f0;
  --color-bluegray-300: #cbd5e1;
  --color-bluegray-400: #94a3b8;
  --color-bluegray-500: #64748b;
  --color-bluegray-600: #475569;
  --color-bluegray-700: #334155;
  --color-bluegray-800: #1e293b;
  --color-bluegray-900: #0f172a;

  --color-palm-50: #eafceb;
  --color-palm-100: #d0f8d4;
  --color-palm-200: #a0f1a9;
  --color-palm-300: #6fe97b;
  --color-palm-400: #3ee24f;
  --color-palm-500: #1cca2f;
  --color-palm-600: #159924;
  --color-palm-700: #13711b;
  --color-palm-800: #0a4910;
  --color-palm-900: #062108;

  --color-ocean-50: #e5eafa;
  --color-ocean-100: #d5def9;
  --color-ocean-200: #b6c4f5;
  --color-ocean-300: #96abf1;
  --color-ocean-400: #7792ed;
  --color-ocean-500: #5779e8;
  --color-ocean-600: #3860e4;
  --color-ocean-700: #193fbb;
  --color-ocean-800: #112a7c;
  --color-ocean-900: #08153d;

  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #450a0a;

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #422006;

  --color-black-normal: #000000;
  --color-black-vanish: rgba(0, 0, 0, 0);

  --color-white-normal: #ffffff;
  --color-white-vanish: rgba(255, 255, 255, 0);

  --opacity-disabled: 0.8;

  --text-xs: 0.625rem;
  --text-xs-line-height: 140%;
  --text-sm: 0.75rem;
  --text-sm-line-height: 140%;
  --text-base: 0.875rem;
  --text-base-line-height: 120%;
  --text-lg: 1.25rem;
  --text-lg-line-height: 120%;
  --text-xl: 1.5rem;
  --text-xl-line-height: 120%;
  --text-2xl: 1.875rem;
  --text-2xl-line-height: 115%;
  --text-3xl: 2.25rem;
  --text-3xl-line-height: 115%;

  /* Drizzilify | Senmantic */
  --color-text-correct: var(--color-palm-600);
  --color-text-incorrect: var(--color-valencia-600);
  --color-text-accent: var(--color-pumpkin-500);
  --color-text-nontrivial: var(--color-bluegray-800);
  --color-text-body: var(--color-bluegray-600);
  --color-text-trivial: var(--color-bluegray-500);
  --color-text-white: var(--color-white-normal);

  --color-stroke-correct: var(--color-palm-400);
  --color-stroke-incorrect: var(--color-valencia-400);
  --color-stroke-accent: var(--color-pumpkin-500);
  --color-stroke-nontrivial: var(--color-bluegray-500);
  --color-stroke-body: var(--color-bluegray-400);
  --color-stroke-trivial: var(--color-bluegray-300);
  --color-stroke-verytrival: var(--color-bluegray-200);

  --color-surface-correct: var(--color-palm-50);
  --color-surface-incorrect: var(--color-valencia-50);

  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'Geist Mono', 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
    '"Liberation Mono"', '"Courier New"', 'monospace';

  /* Intent UI | semantics */
  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-emphasis: var(--primary-emphasis);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);

  --color-yellow: var(--yellow);
  --color-yellow-fg: var(--yellow-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  /* Do we have a dark mode? */
  .dark {
    --color-text-correct: var(--color-palm-600);
    --color-text-incorrect: var(--color-valencia-600);
    --color-text-accent: var(--color-pumpkin-500);

    --color-text-nontrivial: var(--color-bluegray-50);
    --color-text-body: var(--color-bluegray-200);
    --color-text-trivial: var(--color-bluegray-400);
    --color-text-white: var(--color-bluegray-600);
  }

  /* IntentUI | Theme for used by @theme */
  /**
  User need to redefine these variables
  */
  :root {
    --bg: var(--color-white);
    --fg: var(--color-bluegray-900);

    --primary: var(--color-pumpkin-500);
    --primary-fg: var(--color-pumpkin-50);
    --primary-emphasis: var(--color-pumpkin-400);

    --secondary: var(--color-bluegray-200);
    --secondary-fg: var(--color-bluegray-600);

    --overlay: var(--color-white);
    --overlay-fg: var(--color-bluegray-900);

    --accent: var(--color-pumpkin-500);
    --accent-fg: var(--color-bluegray-50);

    --muted: var(--color-bluegray-100);
    --muted-fg: var(--color-bluegray-600);

    --success: var(--color-palm-600);
    --success-fg: var(--color-white-normal);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --danger: var(--color-valencia-600);
    --danger-fg: var(--color-valencia-50);

    --border: var(--color-bluegray-300);
    --input: var(--color-bluegray-300);
    --ring: var(--color-pumpkin-500);

    --icon-tertiary: var(--color-bluegray-400);

    --navbar: var(--color-bluegray-100);
    --navbar-fg: var(--color-bluegray-500);

    --sidebar: var(--color-bluegray-50);
    --sidebar-fg: var(--color-bluegray-600);

    --chart-1: oklch(0.546 0.245 262.881);
    --chart-2: oklch(0.707 0.165 254.624);
    --chart-3: oklch(0.809 0.105 251.813);
    --chart-4: oklch(0.882 0.059 254.128);
    --chart-5: oklch(0.932 0.032 255.585);
  }

  .dark {
    --bg: var(--color-bluegray-800);
    --fg: var(--color-bluegray-50);

    --primary: var(--color-pumpkin-500);
    --primary-fg: var(--color-white);
    --primary-emphasis: var(--color-pumpkin-400);

    --secondary: var(--color-bluegray-600);
    --secondary-fg: var(--color-bluegray-200);

    --accent: var(--color-pumpkin-500);
    --accent-fg: var(--color-bluegray-50);

    --muted: var(--color-bluegray-700);
    --muted-fg: var(--color-bluegray-400);

    --overlay: var(--color-bluegray-900);
    --overlay-fg: var(--color-bluegray-50);

    --success: var(--color-palm-600);
    --success-fg: var(--color-white);

    --warning: var(--color-amber-400);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --border: var(--color-bluegray-700);
    --input: var(--color-bluegray-700);
    --ring: var(--color-pumpkin-500);

    --navbar: var(--color-bluegray-500);
    --navbar-fg: var(--color-bluegray-100);

    --sidebar: var(--color-bluegray-900);
    --sidebar-fg: var(--color-bluegray-100);

    --chart-1: var(--color-blue-700);
    --chart-2: var(--color-blue-500);
    --chart-3: var(--color-blue-400);
    --chart-4: var(--color-blue-300);
    --chart-5: var(--color-blue-200);
  }
}

@custom-variant dark (&:is(.dark *));

@utility brand-primary-gradient-* {
  background-color: var(--color-pumpkin-500);
  background-image: linear-gradient(
    to bottom,
    --alpha(var(--color-white-normal) / --value(percentage)),
    --alpha(var(--color-pumpkin-600) / --value(percentage))
  );
}

@utility brand-secondary-gradient-* {
  background-color: var(--color-pumpkin-100);
  background-image:
    linear-gradient(
      to bottom,
      --alpha(var(--color-white-normal) / --value(percentage)),
      --alpha(var(--color-pumpkin-600) / --value(percentage))
    ),
    linear-gradient(
      to bottom,
      --alpha(var(--color-white-normal) / --value(percentage)),
      --alpha(var(--color-white-vanish) / --value(percentage))
    );
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    line-height: 1;
  }

  html {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background-color: var(--sidebar);
    color: var(--color-text-body);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}

@layer utilities {
  @keyframes shake {
    from {
      rotate: -4deg;
    }

    to {
      rotate: 4deg;
    }
  }
  .shake {
    animation: shake 4 0.1s ease-out both alternate;
  }
}
