.tiptap {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 8);
  outline: none;
  background-color: var(--color-bluegray-50);
  border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  min-height: 10rem;
  color: black;

  h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0 0.5em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 1em 0 0.5em;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 600;
    margin: 1em 0 0.5em;
  }

  h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0 0.5em;
  }

  h5 {
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0 0.5em;
  }

  h6 {
    font-size: 0.9em;
    font-weight: 600;
    margin: 1em 0 0.5em;
  }

  p {
    margin: 0.5em 0;
    line-height: 1.5;
  }

  ul {
    list-style: disc inside;
    margin: 0.5em 0;
  }

  ol {
    list-style: decimal inside;
    margin: 0.5em 0;
  }

  ol,
  ul {
    li {
      margin-left: calc(var(--spacing) * 4);
    }

    p {
      display: inline-block;
    }
  }

  blockquote {
    border-left: 3px solid var(--border-color);
    margin: 1em 0;
    padding-left: 1em;
    color: var(--text-secondary);
  }

  code {
    background: var(--bg-secondary);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: monospace;
  }

  pre {
    background: var(--bg-secondary);
    padding: 1em;
    border-radius: 4px;
    overflow-x: auto;
    margin: 1em 0;

    code {
      background: none;
      padding: 0;
    }
  }

  a {
    color: var(--primary);
    text-decoration: underline;
  }

  img {
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: 1em 0;
    border-radius: var(--radius-lg);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
  }

  /* Is showing an image */
  .ProseMirror-selectednode:has(.tiptap-image-upload) > .tiptap-image-upload {
    outline: 2px solid var(--color-primary);
  }

  /* Us selecting an image */
  img.ProseMirror-selectednode {
    outline: 4px solid var(--color-primary);
  }

  .tiptap-image-upload {
    --outside-padding: calc(var(--spacing) * 4);
    --outside-border-radius: var(--radius-4xl);
    transition: all 0.2s ease-out;
    background-color: var(--color-bluegray-200);
    padding: var(--outside-padding);
    border-radius: var(--outside-border-radius);
    cursor: pointer;

    &.tiptap-image-upload-error {
      background-color: var(--color-surface-incorrect);

      .tiptap-image-upload-text {
        color: var(--color-text-incorrect);
      }
    }

    &:has(.tiptap-image-upload-dragger-active) {
      padding: calc(var(--outside-padding) - (var(--spacing) * 3));
    }

    .padder {
      input {
        display: none;
      }

      /* While uploading */
      .tiptap-image-upload-preview {
        padding: calc(var(--spacing) * 12);
        border: 1px dashed var(--color-bluegray-400);
        border-radius: calc(var(--outside-border-radius) - var(--outside-padding));
        background-color: var(--color-bg);
        display: flex;
        flex-direction: column;
        align-items: center;

        .tiptap-image-upload-progress {
          width: 100%;
          height: 4px;
          border-radius: 20px;
          background-color: var(--color-bluegray-400);
        }

        .tiptap-image-upload-preview-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          .tiptap-image-upload-file-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(var(--spacing) * 4);

            .tiptap-image-upload-file-icon {
              width: fit-content;
              padding: calc(var(--spacing) * 4);
              background-color: var(--color-bluegray-100);
              border-radius: var(--radius-4xl);
            }

            .tiptap-image-upload-details {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: calc(var(--spacing) * 2);

              .tiptap-image-upload-subtext {
                font-size: 12px;
                color: var(--color-bluegray-500);
              }
            }
          }

          .tiptap-image-upload-actions {
            padding: calc(var(--spacing) * 4) calc(var(--spacing) * 4);
            border-radius: var(--radius-xl);
            background-color: var(--color-bluegray-50);
            margin: calc(var(--spacing) * 4) 0 calc(var(--spacing) * 8) 0;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: var(--spacing);
            color: var(--color-bluegray-600);

            .tiptap-image-upload-progress-text {
              font-size: 14px;
            }
          }
        }
      }

      .tiptap-image-upload-dragger {
        &.tiptap-image-upload-dragger-active {
          padding: calc((var(--spacing) * 12) + (var(--spacing) * 3));
        }

        transition: all 0.2s ease-out;
        border: 1px dashed var(--color-bluegray-400);
        border-radius: calc(var(--outside-border-radius) - var(--outside-padding));
        padding: calc(var(--spacing) * 12);
        background-color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--spacing) * 12);

        .tiptap-image-upload-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: calc(var(--spacing) * 4);

          .tiptap-image-upload-text {
            color: var(--color-text-nontrivial);
            em {
              text-decoration: underline dashed;
            }
          }

          .tiptap-image-upload-subtext {
            color: var(--color-text-trivial);
          }
        }
      }
    }
  }
}
